* {
  margin: 0;
}

.app {
  background-color: #fafafa;
}

.app-header {
  list-style-type: none;
  overflow: hidden;

  background-color: white;
  padding: 10px;
  border-bottom: 1px solid lightgray;
  object-fit: contain;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-header li {
  display: flex;
}

.logo {
  display: flex;
  color: #E96245;
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Franklin Gothic Medium";
}

.sign-in button {
	background: rgba(255, 255, 255, 0);
  border: none;
  font-family: "Verdana";
  font-size: 1.2em;
  text-align: center;
  cursor: pointer;
}

.sign-in {
  height: 91vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in div * {padding: 10px;}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-in p {color: #555;}

.post-feed {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.post-form {
  box-sizing: border-box;
  max-width: 30%;
  padding: 10px;
}

.post-form input {
  width: 100%;
}
